export PORT=
export ENV=

export SUMMERIZER_DB_DSN=

export CORS_TRUSTED_ORIGINS=http://localhost:9000 http://localhost:3000

export SMTP_HOST=
export SMTP_PORT=
export SMTP_USERNAME=
export SMTP_PASSWORD=
export SMTP_SENDER=

export SUMMERIZER_NOMIC_ONLINE_EMBEDDING_MODEL_TOKEN=

export SUMMERIZER_GEMINI_MODEL=
export SUMMERIZER_GEMINI_API_KEY=